# docker-compose down -v

version: '3.7'

services:

  # db:
  #   image: postgres:latest
  #   restart: always
  #   volumes:
  #    - "dbdata:/var/lib/postgresql/data"
  #   networks:
  #     - internal

  api: # Flask and uWSGI
    container_name: api 
    restart: always
    build: ./services/api
    volumes:
      - type: bind
        source: ./src
        target: /src
    entrypoint: uwsgi
    command: --ini ./app.ini
    networks: 
      - internal
      - external
    # depends_on: 
    #  - db

  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    volumes:
      - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    networks:
      - external
    depends_on:
      - api
    #build: ./nginx

networks:
  internal:
    driver: bridge
  external:
    driver: bridge

# volumes:
#  appdata: 
#  dbdata:

# ${COMPOSE_PROJECT_NAME}


      
